* {
    box-sizing: border-box;
}
.addPostForm {
    text-align: right;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgb(36, 37, 38);
}
.addPostForm textarea {
    width: 100%;
    padding: 5px;
    resize: vertical;
    max-height: 600px;
    min-height: 50px;
    background-color: rgb(58, 59, 60);
    border: 1px solid black;
    color: white;
    font-size: 1.25em;
}
.addPostForm textarea::placeholder {
    color: rgb(208, 197, 197);
}